.nutrition-box {
  padding: 20px;
  margin-top: -40px;
}

.nutriton-title {
  color: var(--clr-brown800);
}
.nutrition-sub-title {
  font-family: var(--font-secondary);
}
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 10px;
  text-align: left;
  font-family: var(--font-secondary);
}
.numbers {
  font-weight: bold;

  color: var(--clr-brown800);
}

tr {
  border-bottom: 1px solid var(--clr-stone150);
}

/* xs */
/* @media (min-width: 475px) {} */

/* Sm */
/*@media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}  */

/* Lg */
@media (min-width: 1024px) {
  .nutrition-box {
    padding: 0px;
    margin-top: 20px;
  }
}

/* xL */
/* @media (min-width: 1280px) {}  */

/* 2xL */
/* @media (min-width: 1536px) {} */
